:root {
    --center-bg-color: rgb(252, 237, 225, 1);
    --center-content-color: rgb(255, 243, 234, 1);
    --bottom-bg-color: rgb(185, 170, 155, 1);
}

.picture-container {
    position: relative;
    display: flex;
    overflow: hidden;
    width: 100%;
    height: 50vh;
    margin: 0;
    justify-content: center;
    align-items: center;
    font-family: Imperial Script;
}

.picture-container img {
    flex: 1; /* Each image gets equal space */
    object-fit: cover; /* Crop images without distortion */
    height: 100%;
    width: 100%;
}

.title-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 9rem;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.6); /* Optional: makes text stand out */
    text-align: center;
    z-index: 1;
    pointer-events: none;
    text-shadow: 0 0 5px black, 0 0 10px black;
}

.pricing-information-container {
    display: flex;
    flex-direction: column;
    background-color: var(--center-bg-color);
    width: 100%;
    height: 65vh;
    align-items: center;
    font-size: 3rem;
    gap: 40px;
    padding-top: 30px;
    padding-bottom: 30px;
}

.information-content {
    display: flex;
    flex-direction: column;
    width: 600px;
    background-color: var(--center-content-color);
    align-items: center;
    padding: 5px;
    border-radius: 15px;
}

h {
    font-family: Imperial Script;
}

p {
    font-size: 1.5rem;
}

.pricing-content {
    display: flex;
    flex-direction: column;
    width: 600px;
    background-color: var(--center-content-color);
    justify-content: center;
    align-items: center;
    padding: 5px;
    border-radius: 15px;
}

.contact-container {
    display: flex;
    background-color: var(--bottom-bg-color);
    width: 100%;
    height: 15vh;
    justify-content: center;
    align-items: center;
    font-size: 3rem;
}

.contact-content {
    height: 80%;
    width: auto;
}

.imperial-script-regular {
  font-family: "Imperial Script", cursive;
  font-weight: 400;
  font-style: normal;
}

