.picture-container {
    background-color: cornflowerblue;
    display: flex;
    width: 100%;
    height: 350px;
    margin: 0;
    justify-content: center;
    align-items: center;
    font-size: 6rem;
}

.pricing-information-container {
    display: flex;
    flex-direction: column;
    background-color: rgb(252, 237, 215, 1);
    width: 100%;
    height: 500px;
    justify-content: center;
    align-items: center;
    font-size: 3rem;
    gap: 10px;
    padding-top: 15px;
    padding-bottom: 15px;
}

.information-content {
    display: flex;
    height: 80%;
    width: 300px;
    background-color: rgb(255, 243, 224, 1);
    justify-content: center;
}

.pricing-content {
    display: flex;
    height: 80%;
    width: 300px;
    background-color: rgb(255, 243, 224, 1);
    justify-content: center;
}

.contact-container {
    display: flex;
    background-color: rgb(185, 170, 155, 1);
    width: 100%;
    height: 200px;
    justify-content: center;
    align-items: center;
    font-size: 3rem;
}

.contact-content {
    height: 80%;
    width: auto;
}
